<a href="{{path}}" class="text-xl text-{{color}}-600 border border-{{color}}-600 font-bold rounded-xl flex items-center justify-center gap-x-2 px-3 py-2">
	<i class="fa fa-{{icon}}"></i>
	{{text}}</a>
