{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    

    <h1 class="text-green-100 text-center text-3xl mb-12">Tous les articles</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 justify-center">
        {% for article in articles %}
            <div class="w-96 mb-20 mx-auto">
                <a href="{{ path('article_show', {'id': article.id}) }}" class="capitalize text-2xl text-bold text-gray-600 mb-3">{{ article.title }}</a>
                <p class="text-xl text-bold text-gray-600 mb-2">Par {{ article.author.username }} </p>
                <p class="text-sm mb-3">{{article.createdAt|date('d/m/Y à H:m')}}</p>
                <img src="{{ article.photo }}" alt="{{ article.title }}" class="float-right ml-8 mb-4">
                <p>{{ article.content }}</p>
                    <div class="flex gap-3 mt-3">
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="text-xl text-blue-400 font-bold"->Voir</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('article_edit', {'id': article.id}) }}" class="text-xl text-yellow-600 font-bold">Modifier</a>
                        {% endif %}
                    </div>
                
            </div>
        {% else %}
            Pas d'articles
        {% endfor %}

    <div>

    
{% endblock %}
