{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<h1 class="text-3xl font-bold capitalize">{{ article.title }}</h1>

<div class="w-96 mb-20">
    <p class="text-xl text-bold text-gray-600 mb-2">Par {{ article.author.username }} </p>
    <p class="text-sm mb-3">{{article.createdAt|date('d/m/Y à H:m')}}</p>
    <img src="{{ article.photo }}" alt="{{ article.title }}" class="float-right ml-8 mb-4">
    <p>{{ article.content }}</p>
    <div class="flex gap-3 mt-3">
        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_POSTER') and app.user.username == article.author.username) %}
            <a href="{{ path('article_edit', {'id': article.id}) }}" class="text-xl text-yellow-600 font-bold">Modifier</a>
            {% include 'article/_delete_form.html.twig' %}
        {% endif %}
        <a href="{{ path('article_index') }}" class="text-xl font-bold">Retour</a>
    </div>

</div>


{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ include('article/_form_comment.html.twig') }}
{% else %}
    <div class="mb-12">
        <p>Vous devez etre connecté pour pouvoir commenter.</p>
        <a href="{{ path('app_login') }}" class="text-green-400">Se connecter</a>
    </div>
{% endif %}

<div class="border border-gray-400 p-4">
    {% for com in article.comment %}
    <p>Author: {{com.author.username}}, message: {{com.message}}, createdAt: {{ com.createdAt|date('Y-m-d H:i:s') }}</p>
    {% else %}
    <p>Il n'y a pas de commentaire, soyez le premier à commenter</p>
    {% endfor %}
</div>


{% endblock %}
