{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<h1 class="text-3xl font-bold capitalize">{{ article.title }}</h1>

<div class="w-96 mb-20">
    <p class="text-xl text-bold text-gray-600 mb-4">Par {{ article.author.username }} <span
            class="text-sm ml-3">{{article.createdAt|date('d/m/Y à H:m')}}</p>
    <img src="{{ article.photo }}" alt="{{ article.title }}" class="float-right ml-8 mb-4 mt-2">
    <p>{{ article.content }}</p>
    <div class="flex gap-3 mt-3">
        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_POSTER') and app.user.username == article.author.username) %}
        <a href="{{ path('article_edit', {'id': article.id}) }}" class="text-xl text-yellow-600 font-bold">Modifier</a>
        {% include 'article/_delete_form.html.twig' %}
        {% endif %}
        <a href="{{ path('article_index') }}" class="text-xl font-bold">Retour</a>
    </div>
    <div class="likes-parent flex gap-2 items-center">
        <a href="{{ path('article_like', {'id': article.id}) }}" class="like"
            {{ app.user ? "data-like='false'" : null}}><i
                class="text-red-500 fa-thumbs-down {{ article.isLikedByUser(app.user) is same as(false) ? 'fas ' : 'far' }}"></i></a>
        <span id="vote-average">{{article.likesAverage}}</span>
        <a href="{{ path('article_like', {'id': article.id}) }}" class="like"
            {{ app.user ? "data-like='true'" : null}}><i
                class="text-green-500 fa-thumbs-up {{ article.isLikedByUser(app.user) ? 'fas' : 'far' }}"></i></a>
    </div>
</div>



{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{{ include('article/_form_comment.html.twig') }}
{% else %}
<div>
    <p>Vous devez etre connecté pour pouvoir commenter.</p>
    <a href="{{ path('app_login') }}" class="text-green-400">Se connecter</a>
</div>
{% endif %}

<h3 class="mt-12 text-2xl">Commentaires : </h3>

<div class="p-4">
    {% for com in article.comment %}
    <div class="max-w-4xl mb-12">
        <p class="text-xl mb-2">{{com.author.username}} <span class="ml-2 text-xs">le
                {{article.createdAt|date('d/m/Y à H:m')}}</p>
        <p>{{com.message}}</p>
    </div>
    {% else %}
    <p>Il n'y a pas de commentaire, soyez le premier à commenter</p>
    {% endfor %}
</div>


{% endblock %}